{% extends "../base.html" %}

{% block content %}
	<h1>Code Clearing House</h1>
	<p></p>
	
	<dl>
		<dt><a href="/projects/cch/anonymizers/">Anonymizers</a></dt>
		<dd></dd>
	
		<dt><a href="/projects/cch/chat/">Chat</a></dt>
		<dd></dd>
		
		<dt><a href="/projects/cch/currency/">Currency</a></dt>
		<dd></dd>
		
		<dt><a href="/projects/cch/mobile/">Mobile</a></dt>
		<dd></dd>
		
		<dt><a href="/projects/cch/remailers/">Remailers</a></dt>
		<dd></dd>
		
		<dt><a href="/projects/cch/storage/">Storage</a></dt>
		<dd></dd>
	
	</dl>
	
{% end %}
