{% extends "../base.html" %}

{% block content %}
<div class="grid_7">
	<h1>Interact</h1>
	<p>There are many ways to interact and get involved with the various anonymity projects out there. To get involved with Crypto.is:</p>
	
	<h3>Donate Your Time</h3>
	<p>Are you a developer? Can you write documentation? Crypto.is is looking for anyone that can contribute to a project in anyway.  Check out <a href="/interact/time/">Contributing Time</a> for more information.</p>
	
	<h3>Fund Anonymity Servers</h3>
	<p>To donate funds to Crypto.is, learn what we use the money for, and to find information about donating to other worthy projects, check out <a href="/interact/money/">Contributing Money</a></p>

	
	<h3>Contribute Servers, Shares and Bandwidth</h3>
	<p>One of the best ways to help out anonymity projects is to setup and run a server yourself.  But if the thought of that intimidates you, we'll help you out, either hands on or off.  Check out <a href="/interact/goods/">Contributing Goods</a> to find out how you can put spare servers or bandwidth to good use.</p>
	
    <div class="clear_40"></div>
    
</div>
{% end %}
