{% extends "../base.html" %}

{% block content %}
<div class="grid_7">
	<h1>Interact</h1>
	<p>There are many ways to interact and get involved with the various anonymity projects out there. To get involved with The Crypto Project:</p>
	
	<h3>Mailing Lists</h3>
	<p>Join in on a mailing list and get involved in the conversation. The current and temporary home for The Crypto Project is at remailer@librelist.com.  To join in and follow this list simply send a message to remailer@librelist.com and you will be subscribed.  Your message will be dropped and you will be notified of your subscription.</p>

	<h3>Chat on IRC</h3>
	<p>Join in on the conversation on the #remailer channel on Freenode.  Most of The Crypto Project conversation goes on there as well as conversation realted to the various supported projects (like remailers).</p>
	
	<h3>Donate Your Time</h3>
	<p>Are you a developer? Can you write documentation? The Crypto Project is looking for anyone that can contribute to a project in anyway.  Check out <a href="/interact/time/">Contributing Time</a> for more information.</p>
	
	<h3>Fund Anonymity Servers</h3>
	<p>To donate funds to The Crypto Project, or to find information to donat to the various supported projects, check out <a href="/interact/money/">Contributing Money</a></p>

	
	<h3>Contribute Servers, Shares and Bandwidth</h3>
	<p>One of the best ways to help out anonymity projects is to setup and run a server yourself.  The Crypto Projects aims to create a master set of tutorials and guides for all who are looking to setup servers. Check out <a href="/interact/goods/">Contributing Goods</a> to find links to more information on how you can help.</p>
	<div class="clear_40"></div>
</div>
{% end %}
