{% extends "../base.html" %}

{% block content %}
<div class="grid_7">
	<h1>Mailing Lists</h1>
	<p>Join in on a mailing list and get involved in the conversation.</p>
	<h3>Crypto.is</h3>
	<p>The current and temporary home for The Crypto Project is at remailer@librelist.com.  To join in and follow this list simply send a message to remailer@librelist.com and you will be subscribed.  Your message will be dropped and you will be notified of your subscription.</p>
	<p>To view the archives of past conversations, check out the <a target="_blank" href="http://librelist.com/browser/remailer/">#remailer archives</a>.</p>
	<h3>Email and Remailer Development</h3>
	<h4>Mixmaster</h4>
	<p><a href="http://sourceforge.net/mailarchive/forum.php?forum_name=mixmaster-devel">mixmaster-devel</a></p>
	<p><a href="http://sourceforge.net/mailarchive/forum.php?forum_name=mixmaster-users">mixmaster-users</a></p>
	<h4>Mixminion</h4>
	<p><a href="http://archives.seul.org/mixminion/dev/">mixminion-dev</a></p>
	<h4>Remailer Operators</h4>
	<p><a href="http://lists.mixmin.net/mailman/listinfo/remops">Remailer Operators</a></p>

	<h3>Storage</h3>
	<h4>Gnu Privacy Guard</h4>
		<p><a href="http://www.gnupg.org/documentation/mailing-lists.en.html">GPG Mailing Lists</a></p>
	<h4>Tahoe-LAFS</h4>
	<p><a href="http://tahoe-lafs.org/cgi-bin/mailman/listinfo/tahoe-dev">Tahoe-LAFS</a></p>

	<div class="clear_40"></div>

</div>
{% end %}
