{% extends "../base.html" %}

{% block content %}
<div class="grid_7">
	<h1>Contribute Money</h1>
	
    <h3>Donate to The Crypto Project</h3>

    <p>Donations to The Crypto Project offset our infrastructure costs and help run anonymity servers and services. Please specify if you would like your donation to be anonymous or if you would like to be added to a donors list. We do not accept Paypal for donations, nor do we intend to change this.</p>

    <h4>Wepay</h4>
    <p><a class="wepay-widget" href="https://www.wepay.com/donate/196910?widget_type=donations&widget_donation_id=196910&widget_auth_token=71c24f6b1c24b5e7d5d0e7b00d5ec99c21fd907d&widget_show_description=0&widget_show_thermometer=0&widget_show_donations=1">Donate to The Crypto Project<script id="wepay-widget_script" type="text/javascript" src="https://www.wepay.com/min/js/widget.wepay.js"></script></a></p>

    <h4>Flattr</h4>
    <p><a href="http://flattr.com/thing/344797/The-Crypto-Project" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></p>

    <h4>Bitcoin</h4>
    <p>Our address is <em>18fhfsNaRVXd9oN7XU8VPxHAdUb4KB8EFe</em></p>

    <h3>How the Money is Used</h3>

    <p>Our Fundraising Goal is to have $1000 in the account at all times.  This gives us one year of runway:</p>

    <pre>
     12 * 60 = $720 For Hosting
               $ 60 For Domain
               $160 For SSL Cert
               $ 30 For PO Box
               ----
               $970
    </pre>

    <p>We will always know the health of crypto.is and the fundraising effort by how much is in the bank.  If it's greater than $1000 - we're in good shape.  If not - we could be doing better.  Here is our <a href="https://public.sheet.zoho.com/public/sirvaliance/the-crypto-project-balance-sheet">Public Balance Sheet</a>.</p>

    <p>Crypto.is has commited itself <em>not</em> to taking on additional expenses (including domain names, ssl certs, physical or virtual servers, or other) except for the ones we are currently paying for if we do not have at least 120% of our fundraising goal.  If we do exceed the 120% goal, we'll discuss what we want to add, its cost, and integrate it into the 'One Year of Runway' plan.</p>

    <p>Note that some of our servers are virtual and bandwidth is variable.  It's possible our $60/month estimate will be off, and we'll have to try and account for that.  </p>

    <h3>Other Projects</h3>

    <p>Please consider contrbuting to other projects that promote security, anonymity, privacy, and free speech.  If you would like to have a project listed here, please <a href="/about/">contact us</a>.

    <ul>
    <li><a href="https://www.torproject.org/donate/donate.html.en">The Tor Project</a> - Donations to tor fund the development and promotion of the worldwide anonymity network, and may be tax deductible.</li>
    <li><a href="https://www.torservers.net/donate.html">Torservers.net</a> - Donations to torservers goes directly towards running tor nodes.</li>
    <li><a href="http://tor.noisebridge.net/">Noisetor</a> - Donations to Noisetor goes directly towards running tor nodes.</li>
    <li><a href="http://g10code.com/gnupg-donation.html">gnupg</a> - Donations to gnupg or hiring the developers help drive development of the application.</li>
    </ul>



	<div class="clear_40"></div>
</div>

{% end %}
