{% extends "../base.html" %}

{% block content %}
<div class="grid_7">
	<h1>Contribute Your Time</h1>
    
	<p>The most valuable resource you can donate to us is your time.  There are a multitude of worthwhile projects to preserve your privacy, provide anonymity, and improve security - and they all suffer from a lack of developers, designers, testers, documenters, and helpers.  Some projects are <a href="https://github.com/cryptodotis">ours</a>, most aren't - but they all have the common need of people's free time.</p>
    
    <p>If you'd like to get involved in any capacity - whether it's UI design, testing, development, or something else please <a href="/about/">get in touch</a> and we'll be able to point you in a good direction.</p>
</div>
{% end %}
