{% extends "base.html" %}

{% block content %}
	<div class="grid_7">
		<h1>About</h1>

	<p>We're really not all that organized.  The <a href="/">main page</a> talks a bit about what we're aiming for, and the <a href="/projects">projects page</a> talks about what we're focusing on.</p>

	<p>We've got a <a href="https://twitter.com/#!/cryptodotis">twitter account</a>, hang out on <a href="http://www.oftc.net/oftc/">OFTC</a> in #cryptodotis, and have a infrequently used <a href="http://librelist.com/browser/remailer/">mailing list</a> (subscribe by sending a mail to remailer@librelist.com).  The best way to get in touch is to go into irc and leave a message - we'll definitely get back to you, although it may take us a little bit.  We recommend idling for a little bit, using <a href="https://en.wikipedia.org/wiki/GNU_Screen">screen</a> and <a href="https://en.wikipedia.org/wiki/Irssi">irssi</a>.</p>	
		
	</div>
	<div class="clear_40"></div>

{% end %}
