{% extends "base.html" %}

{% block content %}
	<h1>The Crypto Project</h1>
	<div class="clear"></div>
	<div class="grid_5 alpha">
		<span class="big_dark_grey">The Crypto Project is an organization designed to assist and encourage anonymity and encryption research, development, and use.&nbsp;</span>
		<span class="med_med_grey">As part of this goal we seek to revive the Cypherpunk movement to provide better software, security, and anonymity to individuals worldwide, regardless of nation or state.
		</span>
	</div>
	<div id="main_page_image" class="grid_7 omega">
		<img src="/static/img/main-image.png" />
	</div>
	<div class="clear_20"></div>
	<h2>Areas</h2>

	<div class="grid_12">
		<div class="info_box">
			<img src="/static/img/email.png" />
			<h3>Remailers</h3>
			<p>The support of various Anonymous Remailers such as <a href="http://mixmaster.sourceforge.net/">Mixmaster</a>, <a href="http://mixminion.net">Mixminion</a> and others.  The support and development of new, more advanced and secure implementations.</p>

		</div>
		<div class="info_box">
			<img src="/static/img/anonymity.png" />
			<h3>Anonymity</h3>
			<p>The support of various Anonimizers such as <a href="https://torproject.org">Tor</a>, <a href="http://www.i2p2.de/">I2P</a>, and others.</p>
		</div>
		<div class="info_box">
			<img src="/static/img/chat.png" />
			<h3>Chat</h3>
			<p>Development and maintenance of tools such as <a href="http://www.cypherpunks.ca/otr/">Off-the-Record (OTR) Messaging</a>.</p>
		</div>
		<div class="clear_20"></div>
	</div>
	<div class="grid_12">
		<div class="info_box">
			<img src="/static/img/email.png" />
			<h3>E-Mail</h3>
			<p>Encourage adoption of secure e-mail protocols and software - like S/MIME and <a href="http://enigmail.mozdev.org/">Enigmail</a>.</p>
		</div>
		<div class="info_box">
			<img src="/static/img/mobile.png" />
			<h3>Mobile</h3>
			<p>Encourage development of mobile applications related to anonymity, encryption, and communication - both whole-phone solutions such as <a href="https://guardianproject.info/">The Guardian Project</a> and <a href="http://www.whispersys.com/">Whisper Systems</a> and individual applications.</p>

		</div>
		<div class="info_box">
			<img src="/static/img/storage.png" />
			<h3>Storage</h3>
			<p>Support and Audit of tools like <a href="http://www.gnupg.org/">GNU Privacy Guard</a> and <a href="http://www.truecrypt.org/">Truecrypt</a> to provide secure storage encryption.</p>
		</div>
		<div class="clear_20"></div>
	</div>
	
	<div class="grid_12">
		<div class="info_box">
			<img src="/static/img/currency.png" />
			<h3>Currency</h3>
			<p>Encourage analysis and evaluation of protocols such as <a href="http://www.bitcoin.org/">Bitcoin</a> and other decentralized, secure, digital currencies.</p>
		</div>
		<div class="info_box">
			<img src="/static/img/anonymity.png" />
			<h3>Protocols</h3>
			<p>Assist in the development and adoption of future secure protocols, such as <a href="https://datatracker.ietf.org/wg/dane/charter/">DANE</a> and <a href="http://tools.ietf.org/wg/websec/charters">HSTS</a>.</p>

		</div>
		

	</div>

	<div class="clear_20"></div>
	<h2>Join In</h2>
	<p class="med_med_grey">The Crypto Project is always looking for developers to contribute, researchers to give their time, and individuals who can run servers.  Monetary donations will be accepted sparingly for the time being.</p>
	<div class="clear_40"></div>
{% end %}
