{% extends "base.html" %}

{% block content %}
	<h1>The Crypto Project</h1>
	<div class="clear"></div>
	<div class="grid_5 alpha">
		<span class="big_dark_grey">The Crypto Project is a Non-Profit Organization Designed to Fund Anonymity and Encryption Research, Development, and Support.&nbsp;</span>
		<span class="med_med_grey">It's main goal is to revive the Cypherpunk movement to provide better software, security, and anonymity to individuals worldwide, regardless of nation or state.
		</span>
	</div>
	<div id="main_page_image" class="grid_7 omega">
		<img src="/static/img/main-image.png" />
	</div>
	<div class="clear_20"></div>
	<h2>Projects</h2>

	<div class="grid_12">
		<div class="info_box">
			<img src="/static/img/email.png" />
			<h3>Remailers</h3>
			<p>The support of various Anonymous Remailers such as <a href="http://mixmaster.sourceforge.net/">Mixmaster</a>, <a href="http://mixminion.net">Mixminion</a> and various others.  Also the support of new, more advanced and secure implementations.</p>

		</div>
		<div class="info_box">
			<img src="/static/img/anonymity.png" />
			<h3>Anonymity</h3>
			<p>The support of various Anonimizers such as <a href="https://torproject.org">Tor</a>, <a href="http://www.i2p2.de/">I2P</a>, and others.  The Crypto Project will advance the research into these protocols as well as create and develop new ones.</p>
		</div>
		<div class="info_box">
			<img src="/static/img/chat.png" />
			<h3>Chat</h3>
			<p>The Crypto Project will research and develop tools such as <a href="http://www.cypherpunks.ca/otr/">Off-the-Record (OTR) Messaging</a>.</p>
		</div>
		<div class="clear_20"></div>
	</div>
	<div class="grid_12">
		<div class="info_box">
			<img src="/static/img/currency.png" />
			<h3>Currency</h3>
			<p>The Crypto Project will provide analysis and evaluations into protocols such as <a href="http://www.bitcoin.org/">Bitcoin</a> and the development of new decentralized, secure, digital currencies.</p>
		</div>
		<div class="info_box">
			<img src="/static/img/mobile.png" />
			<h3>Mobile</h3>
			<p>The Crypto Project looks to fund development of mobile applications related to anonymity, encryption, and communication (similar to <a href="https://guardianproject.info/">The Guardian Project</a> and <a href="http://www.whispersys.com/">Whisper Systems</a>.</p>

		</div>
		<div class="info_box">
			<img src="/static/img/storage.png" />
			<h3>Storage</h3>
			<p>The Crypto Project is looking to support tools like <a href="http://www.gnupg.org/">GNU Privacy Guard</a> to provide secure storage encryption.</p>
		</div>

	</div>

	<div class="clear_20"></div>
	<h2>Donate and Contribute</h2>
	<p class="med_med_grey">The Crypto Project is always looking for developers to contribute, researchers to give their time, and individuals who can run servers to support Crypto.is sponsored projects.  If you cannot devote time to the project, The Crypto Project is always welcoming donations to support the projects developers, researchers, and to help pay for and keep anonymity servers running.  Crypto.is accepts donations via credit card, Paypal, or Bitcoin.</p>
	<div id="donate_button">Donate
	</div>
	<div class="clear_40"></div>
{% end %}
