{% extends "base.html" %}

{% block content %}
	<h1>The Crypto Project</h1>
	<div class="clear"></div>
	<div class="grid_5 alpha">
		<span class="big_dark_grey">The Crypto Project is an organization designed to assist and encourage anonymity and encryption research, development, and use.&nbsp;</span>
		<span class="med_med_grey">As part of this goal, we seek to revitalize the Cypherpunk movement and provide better software, security, and anonymity to individuals worldwide.
		</span>
	</div>
	<div id="main_page_image" class="grid_7 omega">
		<img src="/static/img/main-image.png" />
	</div>
	
    <div class="clear_20"></div>
	
    <h2>We Focus On</h2>

	<div class="grid_12" style="padding-left:150px">
    
		<div class="info_box">
			<img src="/static/img/email.png" />
			<h3>Email</h3>
			<p>The lack of pervasive and secure Anonymous/Pseudonymous email is a major shortcoming of technologists.  We aim to update the <a target="_blank" href="http://mixmaster.sourceforge.net/">Mixmaster</a> and <a target="_blank" href="http://mixminion.net">Mixminion</a> remailer systems in use, and develop a next-generation nymserver.  </p>
		</div>
        
        <div class="info_box">
			<img src="/static/img/code.png" />
			<h3>Architecture Review</h3>
			<p>Finding bugs in code is usually the last step in a good review.  What's the threat model, how is the system architected, how is the crypto performed, where are the keys stored? After all that, we can start poking at the code...</p>
		</div>
        
		<div class="clear_20"></div>
	</div>
    
    <h2>We Support</h2>
    
	<div class="grid_12">
		<div class="info_box">
			<img src="/static/img/anonymity.png" />
			<h3>Anonymity</h3>
			<p>We love and contribute to anonymizer projects such as <a target="_blank" href="https://torproject.org">Tor</a>, <a target="_blank" href="http://www.i2p2.de/">I2P</a>, <a href="https://gnunet.org/">GNUnet</a>, and others.  And we enjoy evaluating and testing new services that pop up.</p>
		</div>
        
        <div class="info_box">
			<img src="/static/img/mobile.png" />
			<h3>Mobile</h3>
			<p>We encourage the development of mobile applications for anonymity, encryption, and communication - both whole-phone solutions such as <a target="_blank" href="http://www.whispersys.com/">Whisper Systems</a> and individual applications like those from <a target="_blank" href="https://guardianproject.info/">The Guardian Project</a>.</p>
		</div>

		<div class="info_box">
			<img src="/static/img/storage.png" />
			<h3>Storage</h3>
			<p>We use, contribute to, and audit tools like <a target="_blank" href="http://www.gnupg.org/">GNU Privacy Guard</a>, <a href="http://www.saout.de/misc/dm-crypt/">dm-crypt</a>, <a target="_blank" href="http://tomb.dyne.org/">Tomb</a>, and <a target="_blank" href="http://www.truecrypt.org/">Truecrypt</a> to provide secure storage encryption, and distributed and secure based systems like <a target="_blank" href="http://tahoe-lafs.org/">Tahoe-LAFS</a>.</p>
		</div>

		<div class="clear_20"></div>
	</div>
    
    <div class="grid_12">
		<div class="info_box">
			<img src="/static/img/currency.png" />
			<h3>Currency</h3>
			<p>We think about and play with protocols such as <a target="_blank" href="http://www.bitcoin.org/">Bitcoin</a> and other decentralized, secure, digital currencies.</p>
		</div>
        
        <div class="info_box">
			<img src="/static/img/chat.png" />
			<h3>Chat</h3>
			<p>We use and hack on tools such as <a target="_blank" href="http://www.cypherpunks.ca/otr/">Off-the-Record (OTR) Messaging</a> that provide encrypted end-to-end chat.</p>
		</div>
		
		<div class="info_box">
			<img src="/static/img/protocols.png" />
			<h3>Protocols</h3>
			<p>SSL is the most widely used cryptographic protocol - but we'd like to make SRP, DNSSEC, <a target="_blank" href="https://datatracker.ietf.org/wg/dane/charter/">DANE</a>, <a target="_blank" href="http://tools.ietf.org/wg/websec/charters">HSTS</a>, and others top contenders. We participate in the development, testing, and deployment of new cryptographic protocols.</p>
		</div>

		<div class="clear_20"></div>
	</div>
    
	<div class="clear_20"></div>
    
	<h2>Join In and Contribute</h2>
	<p class="med_med_grey">The Crypto Project is always looking for developers to give their <a href="/interact/time/">time</a>, individuals who can contribute <a href="/interact/goods/">servers</a>, and supporters to <a href="/interact/money/">share the cost</a> of running anonymity services. </p>
	
	<div class="clear_40"></div>
{% end %}
