{% extends "base.html" %}

{% block content %}
	<div class="grid_7">
		<h1>Projects</h1>

		<h3><a href="http://cpr.crypto.is">Code Peer Review</a></h3>
		<p>Writing secure code is hard.  But if everyone is intimidated by the prospect, no secure code would be written.  The Code Peer Review seeks to be a single feed of commits to crypto and anonyminity tools.  It is the hope that an easy to skim feed of changes will encourage people to watch projects for changes relating to their area of expertise so they can audit and prehaps become involved in the project.</p>

		<h3><a href="https://github.com/cryptodotis/mixfaster">Mixfaster</a></h3>
		<p>Mixfaster is a new, in-development, mixmaster server.  Written in python, the server does not require an external mailserver to interoperate with, but instead ships with one - making it much easier for individuals to deploy and join the remailer network.</p>
		
    </div>
	<div class="clear_40"></div>

{% end %}
