{% extends "base.html" %}

{% block content %}
	<div class="grid_7">
		<h1>Projects</h1>

		<h3>Code Peer Review</h3>
		<p>Writing secure code is hard.  But if everyone is intimidated by the prospect, no secure code would be written.  The Code Audit Feed seeks to be a single feed of commits to crypto and anonyminity tools.  It is the hope that an easy to skim feed of changes will encourage people to watch projects for changes relating to their area of expertise so they can audit and prehaps become involved in the project.</p>

		<h3>Pynchon Gate</h3>
		<p></p>
		
    </div>
	<div class="clear_40"></div>

{% end %}
